/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/
/* line 7, ../../app/assets/stylesheets/jobs.css.scss */
* {
  padding: 0;
  margin: 0;
  color: #4C4C4C;
  line-height: 23px;
  letter-spacing: .5px;
}
/* line 13, ../../app/assets/stylesheets/jobs.css.scss */
* a:hover {
  color: black;
  -webkit-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
}

/* line 23, ../../app/assets/stylesheets/jobs.css.scss */
body {
  background: #F4F0E4;
  font-family: 'Lato', sans-serif;
}

/* line 28, ../../app/assets/stylesheets/jobs.css.scss */
h1 {
  font-weight: 900;
  margin: 10px 0;
  display: inline;
}

/* line 34, ../../app/assets/stylesheets/jobs.css.scss */
h2 {
  padding: 10px 0;
}

/* line 38, ../../app/assets/stylesheets/jobs.css.scss */
h3 {
  padding: 10px 0;
}

/* line 43, ../../app/assets/stylesheets/jobs.css.scss */
.dash {
  padding: 0 0 0 10px;
}

/* line 47, ../../app/assets/stylesheets/jobs.css.scss */
.nav-links {
  float: right;
  padding: 5px 5px 0;
}

/* line 52, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper {
  width: 860px;
  margin: auto;
  /* header */
  /* container */
}
/* line 56, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper header {
  padding: 20px 0 20px 0;
  /* logo */
}
/* line 61, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper header #notice {
  background: #68A53A;
  margin: 25px 0 0 0;
  padding: 5px 5px;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 69, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper header #alert {
  background: #F66;
  margin: 25px 0 0 0;
  padding: 5px 5px;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 79, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #login-box {
  background: white;
  padding: 20px;
  box-shadow: 0px 1px 4px gray;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 400px;
  margin: 25px auto;
}
/* line 80, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #login-box header {
  text-align: center;
}
/* line 82, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #login-box header h1 {
  margin-bottom: 10px;
}
/* line 94, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #login-box .field input {
  margin: 5px 0;
  width: 388px;
  padding: 10px 5px;
  height: 20px;
  font-size: 1.2em;
}
/* line 104, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container {
  background: white;
  padding: 20px;
  box-shadow: 0px 1px 4px gray;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* job-header */
  /* jobs */
}
/* line 110, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .job-header {
  border-bottom: 1px solid black;
  padding: 5px 0 10px 0;
  overflow: auto;
  /* input-search */
  /* new-btn */
}
/* line 114, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .job-header .input-search {
  float: left;
}
/* line 116, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .job-header .input-search input {
  height: 20px;
  width: 250px;
  padding-left: 5px;
}
/* line 123, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .job-header .new-btn {
  float: right;
  /* a */
}
/* line 126, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .job-header .new-btn a {
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: .9em;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #68A53A;
  width: 150px;
}
/* line 142, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs {
  padding: 10px 0;
  /* ul */
}
/* line 146, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a {
  color: black;
}
/* line 148, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a li.job {
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0 10px 0;
}
/* line 153, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a li.job:hover {
  background: #FFFEB9;
  -webkit-transition: background 50ms ease-in-out;
  -moz-transition: background 50ms ease-in-out;
  -ms-transition: background 50ms ease-in-out;
  -o-transition: background 50ms ease-in-out;
  transition: background 50ms ease-in-out;
}
/* line 161, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a li.job .job-info {
  float: left;
}
/* line 163, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a li.job .job-info .location {
  font-weight: bold;
  padding: 0 10px;
}
/* line 164, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a li.job .job-info .title {
  text-decoration: underline;
  padding: 0 5px;
}
/* line 165, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a li.job .job-info .company {
  padding: 0 0 0 5px;
}
/* line 168, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a .date {
  float: right;
  padding-right: 5px;
}
/* line 171, ../../app/assets/stylesheets/jobs.css.scss */
#wrapper #container .jobs ul a .date span {
  font-weight: 300;
  font-size: .9em;
}

/* wrapper */
/* line 182, ../../app/assets/stylesheets/jobs.css.scss */
#button {
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: .9em;
  text-decoration: none;
  padding: 5px 5px;
  cursor: pointer;
  background-color: #68A53A;
  width: 100px;
  margin: 10px 0 0 0;
}

/* line 197, ../../app/assets/stylesheets/jobs.css.scss */
.error_messages ul {
  list-style: none;
}
/* line 200, ../../app/assets/stylesheets/jobs.css.scss */
.error_messages ul li {
  color: #F66;
  padding: 5px 0;
}

/* line 207, ../../app/assets/stylesheets/jobs.css.scss */
center {
  padding: 10px;
  color: #999;
  font-size: .9em;
  margin: 5px 0;
}

/* line 214, ../../app/assets/stylesheets/jobs.css.scss */
center a {
  padding: 20px;
}

/* ---- Show Page
--------------------------------------------------------------*/
/* line 221, ../../app/assets/stylesheets/jobs.css.scss */
.description-tweet {
  overflow: hidden;
}
/* line 223, ../../app/assets/stylesheets/jobs.css.scss */
.description-tweet section {
  float: left;
}
/* line 226, ../../app/assets/stylesheets/jobs.css.scss */
.description-tweet aside {
  float: right;
  padding-right: 20px;
}

/* line 235, ../../app/assets/stylesheets/jobs.css.scss */
#apply {
  background: #B2DFB3;
  padding: 20px;
  margin: 20px 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #81C0B3;
  overflow: auto;
}
/* line 243, ../../app/assets/stylesheets/jobs.css.scss */
#apply #why-apply {
  color: red;
  width: 350px;
  float: left;
  padding: 0 50px 0 0;
}
/* line 249, ../../app/assets/stylesheets/jobs.css.scss */
#apply #next-steps {
  color: red;
  width: 350px;
  float: left;
}

/* ---- About Page 
--------------------------------------------------------------*/
/* line 262, ../../app/assets/stylesheets/jobs.css.scss */
#bios {
  overflow: auto;
  margin: 20px 0 0 0;
  text-align: justify;
}

/* line 268, ../../app/assets/stylesheets/jobs.css.scss */
#col1 {
  width: 320px;
  float: left;
  padding: 0 80px 0 30px;
}

/* line 274, ../../app/assets/stylesheets/jobs.css.scss */
#col2 {
  width: 320px;
  float: left;
}

/* line 279, ../../app/assets/stylesheets/jobs.css.scss */
.photos {
  height: 200px;
  border: white 8px solid;
  margin: 0 0 30px 0;
  box-shadow: 1px 1px 3px gray;
  -moz-transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1) rotate(2deg) translate(0px, 0px) skew(0deg, 0deg);
}

/* line 291, ../../app/assets/stylesheets/jobs.css.scss */
.contact {
  color: #F66;
}

/* --- Pages 
----------------------------------*/
/* line 299, ../../app/assets/stylesheets/jobs.css.scss */
.merit-image {
  width: 200px;
  float: left;
  border: white 8px solid;
  margin: 60px 40px 20px 0;
  box-shadow: 1px 1px 3px gray;
  -moz-transform: scale(1) rotate(-2deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(-2deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(-2deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(-2deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1) rotate(-2deg) translate(0px, 0px) skew(0deg, 0deg);
}

/* line 311, ../../app/assets/stylesheets/jobs.css.scss */
.programs {
  width: 50px;
  float: left;
  border: white 8px solid;
  margin: 0 40px 0 0;
}

/* line 320, ../../app/assets/stylesheets/jobs.css.scss */
#container h3 a {
  color: #004080;
}

/* line 324, ../../app/assets/stylesheets/jobs.css.scss */
.why-links {
  color: #F66;
}
